h1, h2
{
	margin-left: 50px;
}

label
{
	display: inline-block;
	width: 200px;
	text-align: right;
}

input[type="text"],
select
{
	width: 200px;
}

button
{
	width: 150px;
}

.firstbutton
{
	margin-left: 210px;
}

span
{
	color: red;
	font-weight: bold;
}

span.spaces
{
	margin-left: 15px;
}
